[submodule "Dependencies/GadgetKit"]
	path = Dependencies/GadgetKit
	url = bruno@nix.bruno.ph:git/GadgetKit.git
[submodule "Dependencies/Tokamak"]
	path = Dependencies/Tokamak
	url = bruno@nix.bruno.ph:git/Tokamak.git
[submodule "Dependencies/ArgonModel"]
	path = Dependencies/ArgonModel
	url = bruno@nix.bruno.ph:git/ArgonModel.git
[submodule "Dependencies/CommonMark"]
	path = Dependencies/CommonMark
	url = bruno@nix.bruno.ph:git/CommonMark.git
[submodule "Dependencies/cmark-bridge"]
	path = Dependencies/cmark-bridge
	url = https://github.com/brunophilipe/cmark-bridge.git
[submodule "Dependencies/source-editor"]
	path = Dependencies/source-editor
	url = git@github.com:brunophilipe/source-editor.git
[submodule "Dependencies/SavannaKit"]
	path = Dependencies/SavannaKit
	url = git@github.com:brunophilipe/savannakit.git
[submodule "Dependencies/liquid-swift"]
	path = Dependencies/liquid-swift
	url = git@github.com:brunophilipe/liquid-swift.git
